*
{
	box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    background: hsl(217, 28%, 15%)
}
body
{
    font-size: 1.8rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
}
.title
{
    border: 1px red solid;
    text-align: center;
    color: red;
    width: 100%;
    font-size: 2em;
    letter-spacing: -4px;
}
img
{
    width: 100%;
}
{
    width: 100%;
}
.intro
{
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}
.intro p
{
    line-height: 25px;
}

.all-needs
{
    width: 95%;
    margin: auto;
}



.clip-bases
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.clip-bases .box
{
    border-top: 2px red solid;
    width: 21%;
    background: darkgrey;
    margin: 10px;
}

.box h3
{
    border-bottom: 2px red solid;
    margin: 0px;
    font-size: 2em;
    letter-spacing: -4px;
}
.big-desc
{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.big-desc h2
{
    border: 1px red solid;
    width: 100%;
    font-size: 2em;
    letter-spacing: -4px;
    margin: 0;
}
.desc
{
    border-top: 2px red solid;
    margin: 10px;
    width: 30%;
    background: darkgrey;
}

.desc h2
{
    border-bottom: 2px red solid;
}

@media(max-width: 900px)
{
    .clip-bases .box
    {
        width: 100%;
    }
}

@media(max-width: 900px)
{
    .desc
    {
        width: 100%;
    }
}
















